body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

nav {
    text-align: center;
    background: #333;
    color: #fff;
    padding: 20px 0;
}
.topnav {
    overflow: hidden;
    background: #333;
    padding: 0 10px;
    position: sticky;
    top: 0;
    z-index: 1;
}


/* Style the topnav links */
.topnav a{
    float: left;
    display: block;
    color: var(--iconColor);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}



/* Change color on hover */
.topnav a:hover {
    background-color: var(--primarycolorlight);
    color: var(--primarytextcolor);
}

.left-side {
    /*word-wrap: break-word;*/
    /*display: flex;*/
    float: left;
    width: 25%;
}


.right-side {
    float: left;
    width: 75%;
    /*padding-left: 20px ;*/
}
.row{
    padding: 0 10px;
}


header h1 {
    margin: 0;
    font-size: 2.5em;
}

.profile-img {
    border-radius: 50%;
    margin-top: 10px;
    width: 150px;
    height: 150px;
}

.center {

    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}


section {

    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h2 {
    color: #444;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

table {
    max-width: 100%;
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table tr {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

table tr td:first-child {
    font-weight: bold;
}
/*
.footer {
    padding: 20px;
    text-align: center;
    color: #fff;
    background: #333;
    
}*/

/* Mobile Styles */
@media (max-width: 1000px) {

    .left-side {
        float: none;
        width: 90%;
    }
    
    /* Right column */
    .right-side {
        float: none;
        width: 90%;
        /*padding-left: 20px ;*/
    }

    section {
        width: 90%;
    }

    table tr td {
        display: block;
        width: 100%;
    }

    header h1 {
        font-size: 2em;
    }
}
@media screen and (min-width: 1200px) {
    header h1  {
       font-size: 36px;
    }
  }


.bar {
    width: 100%;
    height: 25px;
    background-color: #f4f4f4;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    margin-top: 5px;
}

.bar::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #4caf50;
    width: 0;
    transition: width 2s ease-in-out;
}

p {
    margin: 0;
    font-weight: bold;
}